<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>

<body>
    <form action="/telefonateCittaData" method="GET">
        <table>
            <tr>
                <td>Città</td>
                <td>
                    <select name="citta">
                        {% for c in citta %}
                        <option value="{{c['codice']}}">{{c['nome']}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Data</td>
                <td>
                    <input type="date" name="data">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="OK">
                </td>
            </tr>
        </table>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action=" / t e l e f o n a t e C i t t a D a t a " method="get">
        <label> Città : </label>
        <select name=" citta ">
            {% for c in citta %}
            <option value=" {{ c.codice }} "> {{ c.nome }} </option>
            {% endfor %}
        </select>
        <br>
        <label> Data [ gg / mm / aaaa ]: </label>
        <input type="text" name="data " pattern=" [0 -9]{1 ,2}/[0 -9]{1 ,2}/[0 -9]{4} ">
        <input type="submit" value=" Invia ">
    </form>
</body>

</html>