button {
    padding: 5px 10px;
    font-family: sans-serif;
    font-size: 14px;
    width: 2000px;
}
h1 {
    font-family: sans-serif;
    font-size: 20px;
    horiz-align: center;
}
#trueButton{
    background-color: #6fff72;
}
#falseButton{
    background-color: #ff313d;
}