<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dettaglio</title>
</head>
    <body>
        <h1>Dettagli dell'insegnamento di {{insErogato.nomeins}} per l'anno accademico {{insErogato.annoAccademico}}</h1>
        <p>Lingua di erogazione: {{insErogato.lingua}}</p>
        <p><strong>Docenti:</strong><br></p>
        <ul>
            {%- for docente in insErogato.docente.split('\n') -%}
            <li> {{docente}} </li>
            {%- endfor -%}
        </ul>
        <a href="{{insErogato.url}}">Link alla pagina del sito</a>
    </body>
</html>