<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aggiungi campanile</title>
    <style>
        .noBorder {
            border: none;
        }

        .errorMessage{
            color: red;
        }
    </style>
</head>

<body>
    <h1>Aggiungi nuovo campanile</h1>
    <h3 class="errorMessage">{{message_error}}</h3>
    <span>
        <a href="/">
            <input type="button" value="INDIETRO" />
        </a>
    </span>
    <span>
        <form action="/belltower_added" method="POST">
            <table class="noBorder">
                <tr>
                    <td>Città</td>
                    <td>
                        <input type="text" name="citta" />
                    </td>
                </tr>
                <tr>
                    <td>Altezza [m]</td>
                    <td>
                        <input type="number" name="altezza" />
                    </td>
                </tr>
                <tr>
                    <td>Anno</td>
                    <td>
                        <input type="number" name="anno" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </span>
</body>

</html>