<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aggiungi Campana</title>
    <style>
        .noBorder {
            border: none;
        }

        .errorMessage{
            color: red;
        }
    </style>
</head>

<body>
    <h1>Aggiungi nuova campana</h1>
    <h3 class="errorMessage">{{message_error}}</h3>
    <span>
        <a href="/">
            <input type="button" value="INDIETRO" />
        </a>
    </span>
    <span>
        <form action="/bell_added" method="POST">
            <table class="noBorder">
                <tr>
                    <td>Numero</td>
                    <td>
                        <input type="number" name="numero" step="1"/>
                    </td>
                </tr>
                <tr>
                    <td>Peso</td>
                    <td>
                        <input type="number" name="peso" />
                    </td>
                </tr>
                <tr>
                    <td>Anno</td>
                    <td>
                        <input type="number" name="anno" />
                    </td>
                </tr>
                <tr>
                    <td>Nota</td>
                    <td>
                        <select name="nota">
                            {% for nota in elenco_note %}
                            <option value="{{nota}}">{{nota}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Ottava</td>
                    <td>
                        <select name="ottava">
                            {% for ottava in elenco_ottave %}
                            <option value="{{ottava}}">{{ottava}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Campanile</td>
                    <td>
                        <select name="campanile">
                            {% for campanile in elenco_campanili %}
                            <option value="{{campanile[1]}}">{{campanile[0]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Fonditore</td>
                    <td>
                        <select name="fonditore">
                            {% for fonditore in elenco_fonditori %}
                            <option value="{{fonditore[1]}}">{{fonditore[0]}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit"/>
                    </td>
                </tr>
            </table>
        </form>
    </span>
</body>

</html>