<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Aggiungi fonditore</title>
    <style>
        .mainTable{
            width: 100%;
        }
        table.mainTable th, table.detailsTable td {
            padding: 6px;
	        text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .buttonBar{
            margin-right: 2%;
            margin-bottom: 3%;
        }
    </style>
</head>

<body>
    <h1>Dettagli campanile di {{campanile['citta']}}</h1>
    <div class="buttonBar">
        <a href="/">
            <input type="button" value="INDIETRO" />
        </a>
    </div>
    <span>
        <h3>Dettagli campanile</h3>
        <table class="detailsTable">
            <tr>
                <td>Città</td>
                <td>{{ campanile['citta'] }}</td>
            </tr>
            <tr>
                <td>Altezza</td>
                <td>{{ campanile['altezza'] }} m</td>
            </tr>
            <tr>
                <td>Anno</td>
                <td>{{ campanile['anno'] }}</td>
            </tr>
        </table>
    </span>
    <span>
        <h3>Elenco campane</h3>
        <table class="mainTable">
            <tr>
                <th>Numero</th>
                <th>Peso [Kg]</th>
                <th>Nota</th>
                <th>Ottava</th>
                <th>Anno</th>
                <th>Fonditore</th>
            </tr>
            {% for campana in campane %}
            <tr>
                <td>{{ campana['numero'] }}</td>
                <td>{{ campana['peso'] }}</td>
                <td>{{ campana['nota'] }}</td>
                <td>{{ campana['ottava'] }}</td>
                <td>{{ campana['anno'] }}</td>
                <td>{{ campana['fonditore'] }}</td>
            </tr>
            {% endfor %}
        </table>
    </span>
</body>

</html>