<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Campane</title>
    <style>
        .mainTable{
            width: 100%;
        }
        table.mainTable th {
            padding: 6px;
	        text-align: left;
            border-bottom: 1px solid #ddd;
        }
        .buttonBar{
            margin-right: 2%;
            margin-bottom: 2%;
        }
    </style>
</head>
<body>
    <h1>Campane a sistema veronese</h1>
    <div class="buttonBar">
        <a href="/add_belltower/"><input type="button" value="INSERISCI CAMPANILE"/></a>
        <a href="/add_fusor"><input type="button" value="INSERISCI FONDITORE"/></a>
        <a href="/add_bell"><input type="button" value="INSERISCI CAMPANA"/></a>
    </div>
    <div>
        <table class="mainTable">
            <tr>
                <th>N</th>
                <th>Città</th>
                <th>Altezza [m]</th>
                <th>Anno</th>
                <th>N° campane</th>
                <th></th>
            </tr>
            {% for campanile in campanili %}
            <tr>
                <td>{{loop.index}}</td>
                {% for i in range(4) %}
                <td>{{campanile[i]}}</td>
                {% endfor %}
                <td>
                    <form action="/belltower_details" method="GET">
                        <input type="hidden" name="belltower" value="{{campanile[4]}}"/>
                        <input type="submit" value="Dettagli"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>