<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MAIN</title>
</head>
<body>
    <form action="/prestitiUtente" method="get">
        <table>
            <tr>
                <td>Codice Fiscale:</td>
                <td>
                    <input type="text" name="codiceFiscale" pattern="[A-Z]{6}\d{2}[A-Z]\d{2}[A-Z]\d{3}[A-Z]">
                </td>
            </tr>
            <tr>
                <td>Biblioteche</td>
                <td>
                    <select name="biblioteca">
                        {% for biblioteca in biblioteche %}
                        <option value="{{biblioteca.id}}">{{biblioteca.nome}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="OK">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>